*{
    padding:0;
    margin: 0;
}

body{
    margin: 0 auto;
    width: 75%;
}

button{
    width: 500px;
    height: 3em;
    margin-bottom: 3em;
}
#map{
    width: 500px;
    height: 500px;
    cursor: pointer;
}

#map .wall{
    background-color: red;
}

#map .treasure{
    background-color: yellow;
}

#map{
    background-color: green;
}

#map .player{
    background-color: blue;
    background-image:url("img/player.png");
    background-size: cover;
}


#map .enemy{
    background-color: transparent;
    background-image:url("img/monster.png");
    background-size: cover;
}

#map .treasure{
    background-color: transparent;
    background-image:url("img/treasure.png");
    background-size: cover;
}

#map .wall{
    background-color: transparent;
    background-image:url("img/wall.png");
    background-size: cover;
}

#map .tunnel{
    background-color: transparent;
    background-image:url("img/hole.png");
    background-size: cover;
}

.map, .controls{
    margin-top: 100px;
    width: 50%;
    float: left;
}

input[type=range]{
    width: 100%;
    margin-bottom: 1em;
}

#hearts img{
    width: 2em;
}

#hearts{
    margin-top: 1em;
}

/*#map td:nth-of-type(odd){
    background-color: blue;
}

#map td:nth-of-type(even){
    background-color: green;
}*/

